@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-image: radial-gradient(ellipse, rgb(11, 34, 112), rgb(16, 0, 41));
  overflow: hidden;
}

.blinker {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.blink-animation1 {
  animation: blink 0.4s infinite;
}

.blink-animation2 {
  animation: blink 0.1s infinite;
}

@keyframes blink {
  0% {
    background-image: radial-gradient(
      ellipse,
      rgb(11, 34, 112),
      rgb(16, 0, 41)
    );
  }
  33% {
    background-image: radial-gradient(
      ellipse,
      rgb(11, 34, 112),
      rgb(16, 0, 41)
    );
  }
  66% {
    background-image: radial-gradient(
      ellipse,
      rgb(255, 255, 255),
      rgb(16, 0, 41)
    );
  }
  100% {
    background-image: radial-gradient(
      ellipse,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    );
  }
}
#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40%;
  height: 40%;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.card--limit {
  background-color: rgb(27, 91, 209);
}

.title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
}

.count {
  color: #ccc;
  font-size: 3em;
  font-weight: 600;
  margin-top: 10px;
}

.btn-size1 {
  width: 26px;
  height: 26px;
}
.btn-size2 {
  width: 35px;
  height: 35px;
}

.btn-size3 {
  width: 44px;
  height: 44px;
}

.reset-btn {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.4s;
}

.reset-btn:hover,
.reset-btn:focus {
  opacity: 0.5;
}

.count__img {
  margin-top: 110px;
  cursor: pointer;
}

.reset-btn-icon {
  color: #027edb;
  height: 40px;
  width: 40px;
}

.reset-btn-inactive {
  opacity: 0;
  cursor: context-menu;
}

.button-container-outer {
  display: flex;
  justify-content: center;
}
.button-container-inner {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.count-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

.count-btn:hover,
.count-btn:focus {
  background-color: #212b06;
}

.count-btn-icon {
  color: rgb(0, 152, 254);
  opacity: 0.9;
}

.highscore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  color: #027edb;
}

.title {
  margin-top: 100px;
}

@media (max-width: 680px) or (max-height: 730px) {
  .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .title {
    margin-top: 100px;
  }

  .buttons {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
